<html>
    <head>
        <script src="https://kit.fontawesome.com/d1e9d1ba92.js" crossorigin="anonymous"></script>  
        <title>
            <%= locals.title %>
        </title> 
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    <body>
        <div id="outer">
            <div id="inner">
        <div>
        <h1 id='page-heading'>
            <i class="far fa-clipboard"></i>
            TICTACTICSTOE
            <a href="/users/sign-out"><i class="fas fa-sign-out-alt"></i>sign-out</a>
        </h1>
            
        </div>
        <form id="new-todo-task" action="/create-todo" method="POST">
           <div >
               <input type="text" id="description" name="description" placeholder="Description. What do you need to Ask?" required>
            </div>
            <div>
                <select id="category" name="category" placeholder="chose a category" required>
                    <option value="" disabled selected hidden>Choose a category</option>
                    
                <!-- <input type="text" onfocus="(this.type='date')" id="date" name="date" placeholder="DueDate" required> -->
            
                <% for(let i of category_list) { %>
                        <option><%= i.description%></option>
                <% } %>
            
            </div>
               <div id="buttons"> 
                   <input id="submitbutton" type="submit" value="Add Querry">
                </div>
        </form>
        <% if (locals.name=='admin'){ %>
            <form id="new-category" action="/create-category" method="POST">
                <div >
                    <input type="text" id="description" name="category" placeholder="Category Name" required>
                 </div>
                    <div id="buttons"> 
                        <input id="submitbutton" type="submit" value="Add Category">
                     </div>
             </form>
        <% } %>
        <div>
           
            <ul>
                <% for(let i of todo_list) { %>
                    <section>
                    <li id="task-container">
                    <div class="details">
                        <p><i class="fas fa-pen"></i><%= i.description %></p>
                        <p>
                            <i class="far fa-calendar-alt"></i>
                            <%= i.date%>
                        </p>
                        <p><i class="fab fa-battle-net"></i><%= i.category %></p>
                    </div> 
                    <div class="delete-button">
                        <a href="/delete-todo/?id=<%=i.id %>"> 
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </li>
            </section>
                <% } %>
            </ul>
            
        </div>
    </div>
    </div>
    </body>
</html>